<ion-view view-title="Charts" class="charts">
  <ion-header-bar class="bar-stable">
    <button><i class="icon ion-ios-arrow-left"></i></button>
    <h1 class="title" ng-click="toggleSelect()">{{personalOrDepartment}}<i class="icon ion-ios-arrow-down"></i></h1>
  </ion-header-bar>
  <style>
    .charts .personal-or-department{
      position: fixed;
      z-index: 9999;
      top: 44px;
      width: 100%;
      background-color: transparent;
      opacity:0.8;
      height: 100vh;
    }
    .charts .personal-or-department button{
      width: 100%;
      background-color: black;
      border:0;
      color: #d0d0d0;
      text-align: center;
      padding: 11px 0 10px 0;
    }
    .charts .personal-or-department button:first-child{
      border-bottom:1px solid #8f8f8f;
    }
    .charts .date-select{
      display: flex;
      width: 100%;
      font-size: 0.9em;
      color: #aaa;
      padding: 10px 40px ;
      border-bottom:1px solid #b2b2b2;
      justify-content:space-between;
    }
    .charts .date-select span{
      display: inline-block;
      color: #000;
      font-size: 16px;
    }
    .charts .date-select i{

    }
    .charts .container1{
      width: 100%;
      height: 70vw;
    }
  </style>
  <div class="personal-or-department" ng-click="toggleSelect()" ng-show="showSelect">
    <button ng-click="change(0, $event)">个人</button>
    <button ng-click="change(1, $event)">部门</button>
  </div>
  <ion-content>
    <div class="date-select">
      <span class="start-date" ng-bind="data.startDate"></span>至<span class="end-data" ng-bind="data.endDate"></span><i class="icon ion-arrow-down-b"></i>
    </div>
    <div class="container1">

    </div>
  </ion-content>
</ion-view>
